[Unit]
Description=Startup service for the pib-flask-api
After=network.target

[Service]
Type=simple
User=pib
TimeoutStartSec=infinity
WorkingDirectory=/home/pib/flask
Environment="PYTHONIOENCODING=utf-8"
ExecStartPre=/home/pib/.local/bin/pipenv install flask
ExecStartPre=/home/pib/.local/bin/pipenv install flask-sqlalchemy
ExecStartPre=/home/pib/.local/bin/pipenv install flask-marshmallow
ExecStartPre=/home/pib/.local/bin/pipenv install marshmallow-sqlalchemy
ExecStartPre=/home/pib/.local/bin/pipenv install flask_cors
ExecStartPre=/home/pib/.local/bin/pipenv install Flask-Migrate
ExecStartPre=/home/pib/.local/bin/pipenv run python3 -m flask --app run db upgrade
ExecStartPre=/home/pib/.local/bin/pipenv run python3 -m flask --app run seed_db
ExecStartPre=/home/pib/.local/bin/pipenv install /home/pib/pib-backend/pibly/pibly_client
ExecStart=/home/pib/.local/bin/pipenv run python3 /home/pib/flask/run.py

[Install]
WantedBy=multi-user.target