# Visual Studio Code
.vscode/
# JetBrains
.idea/

# python
__pycache__/
*.py[cod]ttt
.pylintrc
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Shell
.shellcheckrc

# /camera
build/
log/
install/

# /voice_assistant
assistant_output.wav
openai-key
google-key
aws-key

# /programs
# user program env
user_program_env/

password.env

pibdata.db

*.log
output.wav

# pib-blockly-server
pib_blockly/pib_blockly_server/dist/**
pib_blockly/pib_blockly_server/node_modules/**
package-lock.json
/Pipfile
/Pipfile.lock
