[Unit]
Description=Startup service for the pib-blockly-server
After=network.target

[Service]
Type=simple
User=pib
ExecStart=bash -c "source $HOME/.nvm/nvm.sh && node /home/pib/pib_blockly_server/dist/pib_blockly_server_bundle.js"

[Install]
WantedBy=multi-user.target
