[Unit]
Description=Startup service for the pib-blockly-server
After=network.target

[Service]
Type=simple
User=pib
Environment=HOME=/home/pib
Environment=NVM_DIR=/home/pib/.nvm
ExecStart=/usr/bin/bash -c 'source /home/pib/.nvm/nvm.sh && node /home/pib/pib_blockly_server/dist/pib_blockly_server_bundle.js'

[Install]
WantedBy=multi-user.target
