[Unit]
Description=Docker Container Cleanup Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/pib/app/pib-backend/setup/setup_files/docker_cleaner.sh
User=pib
Environment="PYTHONUNBUFFERED=1"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target