[Unit]
Description=Enables Connections to the host X-Server from within a docker container

[Service]
User=pib
Environment=DISPLAY=:0.0
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/xhost +local:

[Install]
WantedBy=multi-user.target