[Unit]
Description=Startup service for the pibly-server
After=network.target

[Service]
Type=simple
User=pib
ExecStart=/etc/nvm/versions/node/v18.20.2/bin/node /home/pib/pibly_server/dist/pibly_server_bundle.js

[Install]
WantedBy=multi-user.target