[Unit]
Description=Startup script for the ROS proxy-program-node
After=network.target

[Service]
Type=simple
User=pib
ExecStart=/usr/bin/bash /home/pib/ros_working_dir/src/programs/boot_scripts/ros_proxy_program_boot.sh

[Install]
WantedBy=multi-user.target