[Unit]
Description=Startup service for the pib-flask-api
After=network.target

[Service]
Type=simple
User=pib
WorkingDirectory=/home/pib/flask
Environment="PYTHONIOENCODING=utf-8"
ExecStartPre=/home/pib/.local/bin/pipenv install flask
ExecStartPre=/home/pib/.local/bin/pipenv install flask-sqlalchemy
ExecStartPre=/home/pib/.local/bin/pipenv install flask-marshmallow
ExecStartPre=/home/pib/.local/bin/pipenv install marshmallow-sqlalchemy
ExecStartPre=/home/pib/.local/bin/pipenv install flask_cors
ExecStart=/home/pib/.local/bin/pipenv run python3 /home/pib/flask/app.py

[Install]
WantedBy=multi-user.target
